<div class="row">
<div class="x_panel" style="margin-bottom: 2px;">
  <div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
        <h5 style="margin-left: 10px">MC-COLOMBO</h5>
        <div class="count" style="font-size: 30px;line-height:1.3">177/179</div>
        <h5 style="margin-left: 10px">Predictions to Actual Cases</h5>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
        <h5 style="margin-left: 10px">MC-COLOMBO</h5>
        <div class="count" style="font-size: 30px;line-height:1.3">177/179</div>
        <h5 style="margin-left: 10px">Predictions to Actual Cases</h5>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
        <h5 style="margin-left: 10px">MC-COLOMBO</h5>
        <div class="count" style="font-size: 30px;line-height:1.3">177/179</div>
        <h5 style="margin-left: 10px">Predictions to Actual Cases</h5>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
        <h5 style="margin-left: 10px">MC-COLOMBO</h5>
        <div class="count" style="font-size: 30px;line-height:1.3">177/179</div>
        <h5 style="margin-left: 10px">Predictions to Actual Cases</h5>
      </div>
    </div>
  </div>
</div>
</div>
<!--<div class="clearfix"></div>-->
<div class="row">
<div class="x_panel">
  <div class="row">
    <div class="col-md-12">
      <div class="x_title">
        <h2>Dengue Predictions for Upcoming 3 weeks
        </h2>
        <small></small>
        <div class="filter">
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <select class="form-control">
              <option>Colombo</option>
              <!--<option>Maharagama</option>-->
              <!--<option>Dehiwala</option>-->
              <!--<option>Option three</option>-->
              <!--<option>Option four</option>-->
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <select class="form-control">
              <option>2017</option>
              <!--<option>Maharagama</option>-->
              <!--<option>Dehiwala</option>-->
              <!--<option>Option three</option>-->
              <!--<option>Option four</option>-->
            </select>
          </div>

        </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <br>
    <div class="x_panel">
      <div class="x_title">
        <h2> Predicted Dengue cases </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <chart id="myChart" [type]="type" [data]="data" [options]="options" style="height: 300px;"></chart>
      </div>
    </div>
  </div>


  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_title">
      <h2> Predicted Dengue Levels </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <chart id="myChart2" [type]="type" [data]="data2" [options]="options" style="height: 300px;"></chart>
    </div>
  </div>

  <div class="x_panel">
    <div class="x_title">
      <h2> Predicted Dengue Cases Summary</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>MOH</th>
          <th>Next Week</th>
          <th>R-Squared</th>
          <th>R-Squared</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>
