<div class="row">
<div class="x_panel" style="margin-bottom: 2px;">
  <div class="row top_tiles">
    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let stat of statModels">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
        <h5 style="margin-left: 10px">{{stat.district}} </h5>
        <h5 style="margin-left: 10px">{{stat.mohName}} </h5>
        <div class="count" style="font-size:18px;line-height:1.3">Cases: {{stat.predictedCases}}, Level:{{stat.predictedLevel}}</div>
        <!--<h5 style="margin-left: 10px">Predictions to Actual Cases</h5>-->
      </div>
    </div>
  </div>
</div>
</div>
<!--<div class="clearfix"></div>-->
<div class="row">
<div class="x_panel">
  <div class="row">
    <div class="col-md-12">
      <div class="x_title">
        <h2>Dengue Predictions for week from {{startDate | date}} to {{endDate | date}}
        </h2>
        <small></small>
        <div class="filter">
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-3 col-sm-3 col-xs-12"></div>
          <div class="col-md-5 col-sm-5 col-xs-12">

            <select class="form-control" [(ngModel)]="district" (change)="getPredictions()">
              <option value="0" selected="selected">All</option>
              <option *ngFor="let dt of districtList"
                      [value]="dt">
                {{mohToDistrictMapper.getDistrictName(dt)}}
              </option>
            </select>
          </div>


        </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <br>
    <div class="x_panel">
      <div class="x_title">
        <h2> Predicted Dengue cases </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <chart id="myChart" [type]="type" [data]="regressionGraphData" [options]="regressionGraphOptions" style="height: 300px;"></chart>
      </div>
    </div>
  </div>


  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_title">
      <h2> Predicted Dengue Levels </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <chart id="myChart2" [type]="type" [data]="classificationGraphData" [options]="classificationGraphOptions" style="height: 300px;"></chart>
    </div>
  </div>

  <div class="x_panel">
    <div class="x_title">
      <h2> Predicted Dengue Cases & Levels Summary</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>MOH</th>
          <th>Predicted Dengue Cases</th>
          <th>Predicted Dengue Level</th>
          <!--<th>R-Squared</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of regressionData; let i = index">
          <th scope="row">{{i+1 }}</th>
          <td>{{this.regressionLabels[i]}}</td>
          <td>{{this.regressionData[i]}}</td>
          <td>{{this.classificationData[i]}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>
